<style>
    #footer {
        align-content: center;
    position: relative; z-index:100;
    background-color: #727778; 
    padding: 20px 30px;
    line-height: 1.8;
    color: white !important;
    width: 100%;
    font-size: 16px;
    }
    #footer a.first {
        padding-right: 10px;
        padding-left: 0px;
    }
    #footer a {
        text-decoration: none;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
    }

    #footer .copyright {
        font-size: 13px;
        margin: 0;
    }
    #footer .center {
        width: fit-content;
        margin: auto  auto;
    }
</style>
<footer id="footer">
    <div class="center">
        <div class="center">
<a class="first" href="https://vldb.skku.ac.kr">VLDB Lab.</a>
 | 
<a href="https://flashsql.skku.ac.kr">FlashSQL</a>
 | 
<a href="https://flashsql.github.io">FlashSQL Blog</a>
        </div>
<p class="copyright">
Copyright Sungkyunkwan University VLDB Lab. All rights reserved.
</p>
    </div>
</footer>